<!-- header  -->
<%- include('include/_header') %>



<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient" style="color: black; border: 1px solid black ; border-radius: 3px; padding: 0.3em 1rem;">Create new user</span>
            </a>
        </div>
    </div>

    <!-- form  -->
    <form action="/" method="POST">
        <table class="table">
            <thead class="thead-dark">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Action</th>
            </thead>
            <tbody>
                <%- include('include/_show')%>
            </tbody>
        </table>
    </form>
</main>

<!-- <footer></footer> -->
<%- include('include/_footer')%>